#page-header {
  padding-left: 30px;
}

/* #title {
  width: 480px;
  display: flex;
  justify-content: center;
} */

#page-header {
  display: flex;
  flex-direction: row;
}

#page-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#globe {
  margin-top: 80px;
  margin-right: 50px;
}


#news-list, #news-collection {
  width: 600px;
  max-height: 60vh;
  overflow-y: auto;
  padding-left: 60px;
  padding-top: 15px;
}

.content {
  display: none;
}

.active-content {
  width: 70%;
  display: block;
}

#news-tab, #collection-tab {
  /* display: inline-block; */
  /* width: 400px; */
  /* padding: 30px; */
}

.active-tab {
  color: blue;
}

.list-entry {
  margin: 10px;
  padding: 10px;
  min-height: 80px;
}