#page-header {
  padding-left: 30px;
}

/* #title {
  width: 480px;
  display: flex;
  justify-content: center;
} */

#page-header {
  display: flex;
  flex-direction: row;
}

#page-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#globe {
  width: 50%;
}


#news-list, #news-collection {
  width: 500px;
  max-height: 50vh;
  overflow-y: auto;
}

.content {
  display: none;
}

.active-content {
  width: 70%;
  display: block;
}

#news-tab, #collection-tab {
  display: inline-block;
  width: 180px;
  padding: 30px;
}

.active-tab {
  color: blue;
}

.list-entry {
  margin: 10px;
  padding: 10px;
  min-height: 80px;
}