#page-body {
  position: absolute;
}


#news {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#news-list {
  /* position: fixed; */
  width: 70%;
}

.content {
  display: none;
}

.active-content {
  width: 70%;
  display: block;
}

#bloc-tabs {
  display: flex;
  flex-direction: row;
}

/* .tabs {

} */

.active-tab {
  color: blue;
}